* {
    font-family: "Muli","Open Sans","OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    text-align: center;
}

a, a:link, a:visited {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px dotted #000000;
}

a:hover, a:focus, a:active {
    border-bottom: 1px solid #000000;
}

h1 {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px;
}

h2 {
    font-size: 50px;
    padding: 10px;
    margin-top: 50px;
}

h2 span {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    line-height: 30px;
}

ul {
    list-style: none;
}

li {
    padding: 5px;
}

fieldset {
    border: none;
    padding: 20px;
}

legend {
    display: none;
}

label, span.info {
    font-size: 20px;
    display: block;
}

label {
    margin-top: 30px;
    font-weight: bolder;
}

input[type=text], input[type=range] {
    width: 90vw;
    font-size: 30px;
    padding: 10px;
}

#supermeet, #overview {
    margin: 20px;
}

.buttons {
    margin-top: 30px;
}

.buttons a, .buttons a:link, .button a:visited, .buttons input {
    background-color: #808080;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
}
