@font-face {
    font-family: "Lato-Medium";
    src: url(Lato-Medium.ttf);
}

@font-face {
    font-family: "Lato-Bold";
    src: url(Lato-Bold.ttf);
}

* {
    font-family: "Lato-Medium",sans-serif;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    text-align: center;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

#content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

a, a:link, a:visited {
    color: #02091F;
    text-decoration: none;
    border-bottom: 1px dotted #02091F;
}

a:hover, a:focus, a:active {
    border-bottom: 1px solid #02091F;
}

h1 {
    background-color: black;
    color: white;
    font-family: "Lato-Bold",sans-serif;
    font-size: 30px;
    left: 0;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
}

h2 {
    font-family: "Lato-Bold",sans-serif;
    font-size: 50px;
    margin-top: 50px;
    padding: 10px;
}

h2 span {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    line-height: 30px;
}

p span {
    font-family: "Lato-Bold",sans-serif;
}

ul {
    list-style: none;
}

li {
    padding: 5px;
}

fieldset {
    border: none;
    padding: 20px;
}

legend {
    display: none;
}

label, span.info {
    font-size: 20px;
    display: block;
}

label {
    font-family: "Lato-Bold",sans-serif;
    margin-top: 30px;
}

input[type=text], input[type=range] {
    width: 90vw;
    font-size: 30px;
    padding: 10px;
}

#supermeet, #overview {
    margin: 20px;
}

.buttons {
    margin-top: 30px;
}

.buttons a, .buttons a:link, .button a:visited, .buttons input {
    background-color: #262C76;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
}
