{% extends "layout.html" %}

{% block title %}{{ multi.name }}{% endblock %}

{% block head %}
        <script type="text/javascript">
            rooms = {};
{% for room in rooms %}
            rooms["{{ room.name }}"] = "{{ url_for('api_room_events', room_id=room.id) }}";
{% endfor %}
        </script>
        <script src="{{ url_for('static', filename='multi_view.js') }}"></script>
{% endblock %}

{% block body %}
        <h1>{{ multi.name }}</h1>
        <div id="supermeet">
            <div id="booked"></div>
            <div id="available"></div>
        </div>
        <script type="text/javascript">
{% for room in rooms %}
            window.setTimeout(function() {
                fetch_events("{{ room.name }}");
                window.setInterval(fetch_events, 30000, "{{ room.name }}");
            }, {{ loop.index }}000);
{% endfor %}
        </script>
{% endblock %}
