{% extends "layout.html" %}

{% block title %}{{ room.name }}{% endblock %}

{% block head %}
        <script type="text/javascript">
            return_url = "{{ url_for('room_view', room_id=room_id) }}";
            timeout = new Date(Date.now()).getTime() + 180000;
        </script>
{% endblock %}

{% block body %}
        <h1>{{ room.name }}</h1>
        <form method="post">
            <fieldset>
                <legend>Raum buchen oder Buchung ändern</legend>

                <input type="hidden" name="event_id" value="{{ event_id }}">
{% if current_event %}
                <h2>{{ current_event.summary }}</h2>
{% else %}
                <h2>Neuer Termin</h2>

                <label for="input_title">Event-Titel</label>
                <input type="text" name="input_title" id="input_title" value="Lokale Buchung über Supermeet"><br>
{% endif %}

                <label for="input_minutes">Länge in Minuten</label>
                <input type="range" min="10" max="{{ minutes_until_next_event }}" step="10" name="input_minutes" id="input_minutes" value="{{ slider_value }}"><br>
                <span id="input_minutes_debug" class="info"></span><br>

                <p class="buttons">
                    <input type="submit" value="Jetzt buchen">
                    <a href="{{ url_for('room_view', room_id=room_id) }}">Zurück<span id="timeout"></span></a>
                </p>
            </fieldset>
        </form>
        <script type="text/javascript">
            mins = document.getElementById('input_minutes');

            function update_helper() {
                document.getElementById('input_minutes_debug').innerHTML = mins.value + ' Minuten';
            }

            mins.oninput = update_helper;
            mins.onchange = function() {
                timeout = new Date(Date.now()).getTime() + 180000;
            }
            update_helper();

            window.setInterval(function() {
                diff = parseInt((timeout - new Date(Date.now()).getTime()) / 1000);
                if (diff < 1) {
                    window.location.href = return_url;
                }
                document.getElementById('timeout').innerHTML = ' (' + diff + ')';
            }, 1000);
        </script>
{% endblock %}
