{% extends "layout.html" %}

{% block title %}{{ room.name }}{% endblock %}

{% block head %}
        <script type="text/javascript">
            app_startup = {{ app_startup }};
            api_room_events = "{{ url_for('api_room_events', room_id=room_id) }}";
            booking_link = "{{ url_for('room_change_or_book', room_id=room_id) }}";
        </script>
        <script src="{{ url_for('static', filename='room_view.js') }}"></script>
{% endblock %}

{% block body %}
        <h1>{{ room.name }}</h1>
        <div id="supermeet"></div>
        <script type="text/javascript">
            fetch_events();
            window.setInterval(fetch_events, 30000);
        </script>
{% endblock %}
